[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build123d = "*"
cadquery = "*"
ipykernel = "*"
jupyter-console = "*"
ocp-tessellate = "*"
ocp-vscode = "*"
numpy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
